{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        {% for category in categories %}
        <li>
            {% if category.slug == c.slug %}
            <strong>{{ category.name }}</strong>
            {% else %}
            <a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% if products %}
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
    </div>
    {% endfor %}
    {% else %}
    <p>No products available.</p>
    {% endif %}
</div>
{% endblock %}